<?xml version="1.0" encoding="UTF-8" ?>
<application>
	<browser>*firefox</browser>
	<sites>
		<site type="wordpress">
			<url>http://wordpress.localdomain</url>
			<username>a_username</username>
			<password>a_password</password>
		</site>
		<site type="diaspora">
			<url>http://diaspora.localdomain</url>
			<username>a_username</username>
			<password>a_password</password>
			<port>3000</port>
			<oauth2_identifier>registered_id</oauth2_identifier>
			<oauth2_secret>registered_secret</oauth2_secret>
		</site>
	</sites>
</application>
